<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="29">
        <activity
            android:name=".listviews.ShowClassListView"
            android:exported="false" />
        <activity
            android:name=".ShowCrossffitersBaseAdapter"
            android:exported="false" />
        <activity
            android:name=".listviews.ReservationsListView"
            android:exported="false" />
        <activity
            android:name=".Reservations"
            android:exported="false" />
        <activity
            android:name=".listviews.CrossfittersListView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowClass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowClassUpdate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassCreate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listviews.ClassPlanningListView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listviews.ClassDayListView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassDay"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateBoxCrossfitter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCrossfitter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listviews.CrossfittersManagementListView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassPlanning"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrossfittersManagement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonalBestUpdate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listviews.PersonalBestListView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonalBest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listviews.TutorialsListView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoPlayer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorials"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoxManagement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WodTraining"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAq1u7oAGeOdgF2NH6Ck_u3xbd6SJtn5LA" />

        <activity
            android:name=".BoxProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogIn"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>